body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6a5acd;
}

.div {
    background-color: #796483;
    border-radius: 2%;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.allfruit {
    height: 562px;
    width: 375px;
}